body{
font-family: 'Montserrat', sans-serif;
background-color:#F4F4F4;
font-size: 16px;
display: block;

}


.navbar-toggler{
    box-shadow: none;
    border: none;
}


.active{
    text-decoration: underline;
}

#logo{
    height: 30px;
    padding-bottom:1px;
}

.jumbotron{
    background-color: #F4F4F4;
}

button {
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 7px;
    width: 160px ;
    height:40px ;
    font-family:'Lato', sans-serif;
    font-size: 14px;
    background-color: #333133;
    color: #FCFCFC;
    cursor: pointer;
    box-shadow: 2px 2px gray;
}

#my-work{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}




.HangoutVR{
    border: none;
    background-image: url("images/HangoutVR@2x.png");
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0 2px 44px 0 rgba(0,0,0,0.14);
    border-radius: 16px;
    width: 450px;
    height: 480px;
    margin: auto;
    position: relative;
    margin-bottom: 20px;
}

.Thrive{
    border: none;
    background-image: url("images/Thrive.png");
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0 2px 44px 0 rgba(0,0,0,0.14);
    border-radius: 16px;
    width: 450px;
    height: 480px;
    margin: auto;
    position: relative;
    margin-bottom: 20px;
}

.AJA{
    border: none;
    background-image: url("images/AJA@2x.png");
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0 2px 44px 0 rgba(0,0,0,0.14);
    border-radius: 16px;
    width: 450px;
    height: 480px;
    margin: auto;
    position: relative;
    margin-bottom: 20px;
}

.Travel{
    border: none;
    background-image: url("images/Travel App@2x.png");
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0 2px 44px 0 rgba(0,0,0,0.14);
    border-radius: 16px;
    width: 450px;
    height: 480px;
    margin: auto;
    position: relative;
    margin-bottom: 20px;
}

.uscis {
    border: none;
    background-image: url("images/uscis.svg");
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0 2px 44px 0 rgba(0,0,0,0.14);
    border-radius: 16px;
    width: 450px;
    height: 480px;
    margin: auto;
    position: relative;
    margin-bottom: 20px;
}

.daily{
    border: none;
    background-image: url("images/dailyUI.svg");
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0 2px 44px 0 rgba(0,0,0,0.14);
    border-radius: 16px;
    width: 450px;
    height: 480px;
    margin: auto;
    position: relative;
    margin-bottom: 20px;
}


.card-pants{
    text-align: center;
    position: absolute;
    top: 67%;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    width: 450px;


}

.card-pants p{
    padding-top: 8px;
    color: #555555;
    line-height: 2;
}

h4, h5{
    font-weight: 500;
    line-height: 1.1;

}

h4{
    color: #555555;

}
h5{
    color: #AAAAAA;

}

a{
    text-decoration: none;
}






.footer{
    text-align: center;
    font-weight: 100;
    color: #AAAAAA;
    font-size: small;
}



/* About Me */

#about-content {
    margin-top: 50px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.col-side{
    padding-left: 32px;
}

.about-image{
    height: 400px;
    border-radius: 20px;
}




/* Hangout VR Case Study */
.hangout{
    background-color: #E6DEDA;
margin-top: 20px;
text-align: center;

} 

.overview{
    text-decoration: underline;
    margin: 10px 0px 16px;
}



#right-side{
    font-size: smaller;
    font-weight: 600;
}

.subgroup{
    padding-bottom: 32px;

}

#summary{ 
    padding-left: 15px;
}

#my-contribution{
    padding-left: 15px;
}

#design-outcome{
    padding-left: 15px;
}

.footer li{
    display: inline-block;
    text-align: center;
}

.footer a{
    color: #1C3956;
}

.current-page{
    text-decoration: #555555;
    font-size: large;
}

.projectcard:hover {
	cursor:pointer;
    margin-top: -10px;
}

/* Thrive Case Study */

#thrive-hero {
    background: url("images/Thrive/Thrive Hero.svg") no-repeat;
    background-color: #1C3956;
    background-position: center;
    height: 300px;
    background-size: 400px;
 
  }

  /* Atlanta Jugglers Association */
  #aja-hero {
    background: url("images/AJA/aja hero.svg") no-repeat;
    background-color: #13292A;
    background-position: center;
    height: 320px;

  }

  .mockuplink{
     text-align: center;
     text-decoration: underline;
  }
  .slide-deck{
      padding-left: 15px;
  }

  /* Travel App */

  #travel-hero {
    background: url("images/Travel/Travel Hero.svg") no-repeat;
    background-color: #DBD6F4;
    background-position: center;
    height: 300px;
    background-size: 600px;
 
  }






  .bold{
      font-weight: bold;
      font-size: larger;
  }

  .highlight{
      background-color: pink;
  }
  
/* Daily UI */

.dailyui{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#eight{
    height: 200px;
}

.dailyui img{
    height: 500px;

}






